<section class="root">
  <h1 class="authHeader">
    Auth Login and Register
  </h1>
  <form (ngSubmit)="$event.preventDefault()" class="form">

    <app-atoms-input
      [(ngModel)]="formData.namels"
      [isRequired]="true"
      inputName="name"
      inputPlaceholder="enter the name"
      inputType="text"


    />
    <app-atoms-input
      [isRequired]="true"
      inputName="email"
      inputPlaceholder="enter the email"
      inputType="email"


    />
    <app-atoms-input
      [isRequired]="true"
      inputName="password"
      inputPlaceholder="enter the password"
      inputType="password"


    />
    <app-atoms-button
      (click)="onSave()"
      [Isdisabled]="false"
      label="Login"
      type="submit"
    />
  </form>
  <div *ngIf="submitted">
    <h2>Form Values:</h2>
    <p>Name: {{ formData.name }}</p>
    <p>Email: {{ formData.email }}</p>
    <p>Password: {{ formData.password }}</p>
  </div>
</section>
